[Unit]
Description=Register App for Yunohost
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=__FINALPATH__/
Environment="PATH=__FINALPATH__/registerenv/bin"
ExecStart=__FINALPATH__/registerenv/bin/uwsgi --ini register.ini

[Install]
WantedBy=multi-user.target
