<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <div class="container">
        <h1>Inscription</h1>
        <form action="create_user/" method="post" class="register-form">
            <div class="input-group">
                <label for="username">Pseudo</label>
                <input placeholder="johndoe" required type="text" name="username" id="username">
            </div>
            <div class="input-group">
                <label for="firstname">Prénom</label>
                <input placeholder="John" required type="text" name="firstname" id="firstname">
            </div>
            <div class="input-group">
                <label for="lastname">Nom</label>
                <input placeholder="Doe" required type="text" name="lastname" id="lastname">
            </div>
            <div class="input-group mb-20">
                <label for="password">Mot de passe (8 caractères minimum)</label>
                <input placeholder="****************" minlength="8" required type="password" name="password" id="password">
            </div>
            <button type="submit">Valider</button>
        </form>
    </div>
</body>

</html>