<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>

<body>
    <div class="container">
        <h1>Inscription</h1>
        <form action="create_user/" method="post" class="register-form">
            <div class="input-group">
                <label for="username">Pseudo</label>
                <input pattern="^[a-z0-9_]+$" placeholder="johndoe" required type="text" name="username" id="username">
            </div>
            {% if ask_email == "true" %}
            <div class="input-group">
                <label for="username">Email</label>
                <input pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" placeholder="john@doe.com" required type="email" name="email" id="email">
            </div> 
            {% endif %}          
            <div class="input-group">
                <label for="firstname">Prénom</label>
                <input pattern="^([^\W\d_]{1,30}[ ,.'-]{0,3})+$" placeholder="John" required type="text" name="firstname" id="firstname">
            </div>
            <div class="input-group">
                <label for="lastname">Nom</label>
                <input pattern="^([^\W\d_]{1,30}[ ,.'-]{0,3})+$" placeholder="Doe" required type="text" name="lastname" id="lastname">
            </div>
            <div class="input-group mb-20">
                <label for="password">Mot de passe (8 caractères minimum)</label>
                <input pattern="^.{3,}$" placeholder="****************" minlength="8" required type="password" name="password" id="password">
            </div>
            <button type="submit">Valider</button>
        </form>
    </div>
</body>

</html>