<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succès - Inscription</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <div class="container">
        <h1>Félicitations, votre inscription est prise en compte</h1>
        <p>Merci de votre inscription aux services saphir</p>
        <a href="https://saphir.eu.org/yunohost/sso" class="button"></a>
    </div>
</body>
</html>